<div id="container clearfix">
    <nav id="" id="">
        <ul class="side-nav" id="">
            <li class="nav-item">
                <a class="nav-link" href="/scores/football">Football</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scores/soccer">Soccer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scores/baseball">Baseball</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scores/hockey">Hockey</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scores/tennis">Tennis</a>
            </li>
        </ul>
    </nav>
</div>

