<div class="wrapper">
    <nav id="sidebar pl-2 pr-2" id="sidebar">
        <div class="sidebar-header">
            <h3>Sports</h3>
        </div>
        <ul class="list-unstyled active" id="homeSubmenu">
            <li class="nav-item">
                <a class="nav-link" href="/scores/football">Football</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scores/soccer">Soccer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scores/baseball">Baseball</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scores/hockey">Hockey</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scores/tennis">Tennis</a>
            </li>
        </ul>
    </nav>
</div>
