<nav class="navbar navbar-expand m-0 p-0">
    <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
            <a class="nav-link text-light" href="/">Home</a>
        </li>
        <% if(!currentUser) { %>
            <li class="nav-item">
                <a class="nav-link text-light" href="/sign_up">Sign-Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/sign_in">Sign-In</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link text-light" href="/signOut">Sign-Out</a>
            </li>
        <% } %>
            
    </ul>
</nav>