#header{
  background-image: url("../images/homebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 100%;
  margin: 0;
}

body{
  height: 100%;
}

main{
  height: 100%;
  width: 100%;
  margin: 0;
}

#color{
  background: rgba(0, 153, 0, 0.3);
  height: 100%;
}

#center{
}

#sports{
  background: white;
  margin-right: 25%;
  margin-left: 25%;
  /*margin-top: 20px;*/
  border-radius: 15px;
  color: gray;
  padding-bottom: 12px;
}

#background{
  background-color: lightgray;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%
}
#background2{
  background-color: #7F4145;
}

#shadow{
  text-shadow: 1px 1px black;
}

.group{
  background: #EAE6DA;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-radius: 15px;
  color: white;
}

.group2{
  background: #D1B894;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-radius: 15px;
  color: white;
}

#pickSportTitle{
  color: black;
}

#sports-title{
  border-bottom: 3px solid white;
}




/* List scores */

#scores{
  margin-right: 20%;
  margin-left: 20%;
}


/*CHATROOM */
#underline{
  border-bottom: white 5px;
}

#message{
  border-radius: 12px;
}

#yourMessage{
  border-radius: 12px;
}

#football-body{
  background-image: url(../images/footballbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#football-main{
  min-height: 100vh;
  width: 100%;
  background-color: null
}

#soccer-body{
  background-image: url(../images/soccerbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#soccer-main{
  min-height: 100vh;
  width: 100%;
  background-color: rgba(88,83,64,0.5)
}

#baseball-body{
  background-image: url(../images/baseballbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#baseball-main{
  min-height: 100vh;
  width: 100%;
  background-color: rgba(139,62,25,0.5)
}

#tennis-body{
  background-image: url(../images/tennisbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#tennis-main{
  min-height: 100vh;
  width: 100%;
  background-color: rgba(58,106,51,0.5)
}

#hockey-body{
  background-image: url(../images/hockeybackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#hockey-main{
  min-height: 100vh;
  width: 100%;
  background-color: rgba(187,24,25,.5)
}







/*Signup and SignIn*/
#signUpBody{
  background-color: #7F4145;
}

#signInBody{
  background-color: #7F4145;
}

#centerForm{
  margin: 0 auto;
  padding: 0 auto;
}






/* Media Queries */

@media only screen and (max-width: 600px) {
  #background{

  }

  #scores{
    margin-right: 4%;
    margin-left: 4%;
  }

  #sports{
    margin-right: 4%;
    margin-left: 4%;
  }

  .buttons{
    margin: 0 auto;
  }

}

@media only screen and (max-width: 1000px) { 
  #sports{
    margin-right: 14%;
    margin-left: 14%;
  }
}

@media only screen and (max-width: 715px) { 
  #sports{
    margin-right: 8%;
    margin-left: 8%;
  }
}

@media only screen and (max-width: 370px) { 
  #header{
    height: 90vh;
  }

  #sports{
    margin-right: 3%;
    margin-left: 3%;
  }

}