#header{
  background-image: url("../images/homebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 100%;
  margin: 0;
}

body{
  height: 100%;
}

main{
  height: 100%;
  width: 100%;
  margin: 0;
}

#color{
  background: rgba(0, 153, 0, 0.3);
  height: 100%;
}

#center{
}

#sports{
  background: white;
  margin-right: 25%;
  margin-left: 25%;
  /*margin-top: 20px;*/
  border-radius: 15px;
  color: gray;
  padding-bottom: 12px;
}

#background{
  background-color: lightgray;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%
}
#background2{
  background-color: #fafafa;
}
/*blueish green #006E6D
eclipse blueish purple HEX: #343148

*/
#shadow{
  text-shadow: 1px 1px black;
}

.group{
  background: #403148;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-radius: 15px;
  color: white;
}

.group2{
  background: #314248;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-radius: 15px;
  color: white;
}

#pickSportTitle{
  color: black;
}

#sports-title{
  border-bottom: 3px solid black;
  color: black;
}

/*CHATROOM */
#soccer-body{
  background-image: url(../images/soccerbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Signup and SignIn*/
#signUpBody{
  background-color: #7F4145;
}

#signInBody{
  background-color: #7F4145;
}

#centerForm{
  margin: 0 auto;
  padding: 0 auto;
}

@media only screen and (max-width: 600px) {
  #background{

  }

  #sports{
    margin-right: 4%;
    margin-left: 4%;
  }

}

@media only screen and (max-width: 1000px) { 
  #sports{
    margin-right: 14%;
    margin-left: 14%;
  }
}

@media only screen and (max-width: 715px) { 
  #sports{
    margin-right: 8%;
    margin-left: 8%;
  }
}

@media only screen and (max-width: 370px) { 
  #header{
    height: 80vh;
  }

  #sports{
    margin-right: 3%;
    margin-left: 3%;
  }

}