#header{
  background-image: url("../images/homebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 100%;
  margin: 0;
}

body{
  height: 100%;
}

main{
  height: 100%;
  width: 100%;
  margin: 0;
}

#color{
  background: rgba(0, 153, 0, 0.3);
  height: 100%;
}

#center{
}

#sports{
  background: white;
  margin-right: 25%;
  margin-left: 25%;
  /*margin-top: 20px;*/
  border-radius: 15px;
  color: gray;
  padding-bottom: 12px;
}

#background{
  background-color: lightgray;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%
}

@media only screen and (max-width: 600px) {
  #background{

  }

  #sports{
    margin-right: 4%;
    margin-left: 4%;
  }

}

@media only screen and (max-width: 1000px) { 
  #sports{
    margin-right: 14%;
    margin-left: 14%;
  }
}

@media only screen and (max-width: 715px) { 
  #sports{
    margin-right: 8%;
    margin-left: 8%;
  }
}

@media only screen and (max-width: 370px) { 
  #header{
    height: 80vh;
  }
}