<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body>
    <% include ../static/partials/topNav.ejs %>
    <% include ../static/partials/messages.ejs %>
    
    <div class="container clearfix">
      <!-- side nav-->
      <% include ../static/partials/sideNav.ejs %>
      <!--content-->
      <h1>Content will go here</h1>
    </div>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>