<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body>
    <main class="">
      <div id="color">
        <div class="" id="header">
            <% include ../static/partials/topNav.ejs %>
            <% include ../static/partials/messages.ejs %>
            <h1 class="display-1 text-center mb-2 mt-5 text-light">Sports-Live</h1>
            <h5 class="text-center text-light">Scores and Chat</h5>
            <br>
            <p class="lead text-light text-center ml-auto mr-auto col-8">Choose a sport below to get live score! Then pick a chatroom to discuss the game with your friends <em>or</em> enemies.</p>
          </div>
      </div>
      
      <!-- HEADING
        mountain background with color overlay
        Logo/app name big letters in white text
             small slogan beneath
        
        section about live scores
            color background

        pick sport
            white background
      -->
      <!--content-->
      
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>