<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body>
    <main class="">
      <header class="" id="header">
          <div class="" id="color">
              <% include ../static/partials/topNav.ejs %>
              <% include ../static/partials/messages.ejs %>
              <div class="" id="center">
                  <h1 class="display-2 text-center mb-2 text-light" id="name">Sports-Live</h1>
                  <h4 class="text-center text-light">Scores and Chatrooms</h4>
                  <br>
                  <p class="lead text-light text-center ml-auto mr-auto col-lg-6 col-md-8 col-sm-10">Choose a sport below to get live score! Then pick a chatroom to discuss the game with your friends <em>or</em> enemies.</p>
              </div>
          </div>
      </header>
      
      <!-- HEADING
        mountain background with color overlay
        Logo/app name big letters in white text
             small slogan beneath
        
        section about live scores
            color background

        pick sport
            white background
      -->
      <!--content-->
      
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>