<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body>
    <% include ../static/partials/topNav.ejs %>
      <!-- Page Content -->
      <main class="container mt-5 justify-content-center">
          <% include ../static/partials/messages.ejs %>
            <h1 class="display-1">Home Page</h1>
      </main>
      <!-- /.container -->
      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>