<!DOCTYPE html>
<html lang="en">
  <% include ../static/partials/head.ejs %>
  <body>
      <!-- HEADING
        mountain background with color overlay
        Logo/app name big letters in white text
             small slogan beneath
        
        section about live scores
            color background

        pick sport
            white background
      -->
      <!--content-->
      <header class="" id="header">
          <div class="" id="color">
              <% include ../static/partials/topNav.ejs %>
              <% include ../static/partials/messages.ejs %>
              <div class="mt-5" id="center">
                  <h1 id="shadow" class="display-2 text-center mb-2 text-light mt-5" id="name">Sports Live</h1>
                  <h4 id="shadow" class="text-center text-light">Scores and Chatrooms</h4>
                  <br>
                  <p id="shadow" class="lead text-light text-center ml-auto mr-auto col-lg-6 col-md-8 col-sm-10">Choose a sport below to get live scores, then pick a chatroom to discuss the game with your friends <em>or</em> enemies!</p>
              </div>
          </div>
      </header>
      <main class="" id="background">
        <section id="sports" class="hidden-sm-down">
            <h1 class="text-center pt-0 mb-0 display-3">Available Sports</h1>
            <h6 class="ml-auto mr-auto mb-4 text-muted text-center">Pick a sport to see scores</h6>
            <div class="row ml-auto mr-auto mb-2">
              <a class="ml-auto" href="/scores/football">
                  <button type="button " class="btn btn-info ">
                    Football
                  </button>
                </a>
              <a class="ml-4" href="/scores/baseball">
                <button type="button " class="btn btn-info ">
                  Baseball
                </button>
              </a>
              <a class="mr-4 ml-4" href="/scores/soccer">
                  <button type="button " class="btn btn-info ">
                    Soccer
                  </button>
                </a>
              <a class="mr-4" href="/scores/tennis">
                  <button type="button " class="btn btn-info ">
                    Tennis
                  </button>
                </a>
              <a class="mr-auto" href="/scores/hockey">
                  <button type="button " class="btn btn-info ">
                    Hockey
                  </button>
                </a>                    
            </div>
        </section>
        <!-- For Mobile devices -->
        <section id="sports" class="hidden-md-up">
            <h1 class="text-center pt-0 mb-0 display-4">Sports</h1>
            <h6 class="ml-auto mr-auto mb-4 text-muted text-center">Pick a sport to see scores</h6>
            <div class="row ml-auto mr-auto mb-2">
              <a class="ml-auto" href="/scores/football">
                  <button type="button " class="btn btn-info ">
                    Football
                  </button>
                </a>
              <a class="ml-4 mr-4" href="/scores/baseball">
                <button type="button " class="btn btn-info ">
                  Baseball
                </button>
              </a>
              <a class="mr-auto" href="/scores/soccer">
                  <button type="button " class="btn btn-info ">
                    Soccer
                  </button>
                </a>                   
            </div>
            <div class="row ml-auto mr-auto mb-2">
                <a class="mr-auto ml-auto" href="/scores/tennis">
                  <button type="button " class="btn btn-info ">
                    Tennis
                  </button>
                </a>
              <a class="mr-auto ml-auto" href="/scores/hockey">
                  <button type="button " class="btn btn-info ">
                    Hockey
                  </button>
                </a> 
            </div>
        </section>
      </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>