<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body>
      <!-- Page Content -->
      <main class="container">
            <h1 class="display-1">Home Page</h1>
      </main>
      <!-- /.container -->
      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>