<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body>
      <% include ../static/partials/messages.ejs %>
      <main class="container">
            <% live.forEach((sport) => { %>
                <div class="row">
                  <h3 class="col-sm-12 text-center "><%= sport %></h3>
                </div>
              <% }) %>
      </main>
      <!-- /.container -->
      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>