<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body>
      <!-- Page Content -->
      <% include ../static/partials/messages.ejs %> 
      <main class="container">
            <h1 class="display-1 pt-3 pl-0">Sign-Up</h1>
            <form class="col-sm-6" method="POST" action="/user">
                <div class="form-group col-10 mt-5 row pl-3">
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username">
                </div>
                <div class="form-group col-10 row pl-3">
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <div class="row pl-3">
                        <input type="password" class="form-control col mr-1" name="password" placeholder="Password">
                        <input type="password" class="form-control col ml-1" name="passwordConf" placeholder="Confirm Password">
                    </div>
                    <small id="passwordlHelp" class="form-text text-muted pt-0 mt-0">Password must be 6 or more characters</small>
                </div>
                
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
      </main>
      <!-- /.container -->
      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>